html, body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  font-family: monospace;
}

a {
  background-color: #7319FF;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-width:10px;
  border-color:red;
  cursor: pointer;
}

a > span {
  font-size: 30px;
  color: #00FFC6;
  transition: transform 100ms ease-out;
}
